@import "~materialize-css/dist/css/materialize.min.css";

ul {
    display: flex;
    justify-content: space-around;
}
li {
    cursor: pointer;
}

.shower-forecast{
    display: flex;
    justify-content: space-around;
}

.listDay {
    text-align: center;
    width: calc(100%/7);
    border: solid 1px #bebebe;
    background-color: #03a9f4;
    cursor: pointer;
}

.collection {
    max-width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    text-align: center;
}

.collection>div {
    margin: 1rem;
    color: green
}
.dayContainer {
    display: flex;
}

